{% if enable_d455 %}

{%- import "mrs_robots_description/sdf/d455_macro.sdf.jinja" as d455 -%}

{{ d455.d455_macro(
  namespace = namespace,
  camera_name = "d455",
  camera_suffix="",
  parent_link = root,
  x = 0.086,
  y = 0.0,
  z = -0.05,
  roll = d455.rad180,
  pitch = 0,
  yaw = d455.rad90)
}}
  
{% endif %}